html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.kiosk-root {
  width: 100%;
  height: 100%;
}

.kiosk-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
